.card {
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -130px;
}

.generated {
    text-align: center;
}

.icon1 {
    color: black;
    left: 10px;
}

.icon2 {
    color: black;
    left: 10px;
}

button {
    margin-left: 20px;
}